#body {
	margin: 0;
	background: white;
}
h1 {
	font-size: 100pt;
	text-align: center;
	margin-top: -10px;
}
#container {
	width: 0;
	height: 0;
	background-color: none;
	position: relative;
	top: 5px;
	left: 434px;
	cursor: pointer;
}
.apple2 {
	border-radius: 100%;
    background-color: red;
    position: absolute;
    width: 250px;
    height: 191px;
    top: 93px;
    left: 69px;
    z-index: 2;
}
.apple3 {
    border-radius: 100%;
    background-color: red;
    position: absolute;
    width: 250px;
    height: 191px;
    top: 93px;
    left: 247px;
    z-index: 2;
}
.apple4 {
    background-color: red;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 307px;
    left: 231px;
    z-index: 2;
}
.apple5 {
    border-radius: 100%;
    background-color: red;
    position: absolute;
    width: 177px;
    height: 250px;
    top: 109px;
    left: 68px;
    transform: rotate(345deg);
    z-index: 2;
}
.apple6 {
    border-radius: 100%;
    background-color: red;
    position: absolute;
    width: 177px;
    height: 250px;
    top: 109px;
    left: 321px;
    transform: rotate(15deg);
    z-index: 2;
}
.apple7 {
    border-radius: 100%;
    background-color: red;
    position: absolute;
    width: 106px;
    height: 287px;
    top: 180px;
    left: 108px;
    transform: rotate(325deg);
    z-index: 2;
}
.apple8 {
    border-radius: 100%;
    background-color: red;
    position: absolute;
    width: 106px;
    height: 287px;
    top: 180px;
    left: 351px;
    transform: rotate(35deg);
    z-index: 2;
}
.apple9 {
	border-radius: 100%;
    background-color: red;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 195px;
    left: 184px;
    z-index: 2;
}
.apple10 {
	height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 red;
    position: absolute;
    top: 410px;
    left: 243px;
    transform: rotate(226deg);
    z-index: 2;
}
.apple11 {
    border-radius: 100%;
    background-color: red;
    position: absolute;
    width: 104px;
    height: 75px;
    top: 371px;
    left: 185px;
    z-index: 2;
}
.apple12 {
    border-radius: 100%;
    background-color: red;
    position: absolute;
    width: 104px;
    height: 75px;
    top: 371px;
    left: 273px;
    z-index: 2;
}
.stem1 {
    height: 119px;
    width: 54px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 #b57551;
    position: absolute;
    top: 49px;
    left: 295px;
    transform: rotate(209deg);
    z-index: 5;
}
.white {
    border-radius: 100%;
    background-color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 4;
}