h1 {
	color: black;
	font-size: 56pt;
	margin-left: 100px;
}
p {
	color: black;
	font-size: 28pt;
	margin: 100px 100px;
}
.text {
	background-color: gray;
	padding: 10px 0px;
	z-index: 3;
}
.metroid1-t {
	background-color: #fca249;
}
.metroid2-t {
	background-color: #a4cc55;
}
.metroid3-t {
	background-color: #c11111;
}
.metroidF-t {
	background-color: #1e1bc6;
}
.metroidP-t {
	background-color: #4151c6;
}
.metroidZM-t {
	background-color: #f8fc79;
}
.metroidP2-t {
	background-color: #823030;
}
.metroidPP-t {
	background-color: #dbdbdb;
}
.metroidPH-t {
	background-color: #94f97a;
}
.metroidP3-t {
	background-color: #58c2ef;
}
.metroidOM-t {
	background-color: #437242;
}
.metroidPFF-t {
	background-color: #dbdbdb;
}
.metroidRoS-t {
	background-color: #5b1384;
}
.metroid1, .metroid2, .metroid3, .metroidF, .metroidP, .metroidZM, .metroidP2, .metroidPP, .metroidPH, .metroidP3, .metroidOM, .metroidPFF, .metroidRoS {
	width: 100%;
	height: 800px;
}
.metroid1 {
	background: url(../imgs/metroid1/metroid1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.metroid2 {
	background: url(../imgs/metroid2/metroid2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.metroid3 {
	background: url(../imgs/metroid3/metroid3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.metroidF {
	background: url(../imgs/metroidF/metroidF.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.metroidP {
	background: url(../imgs/metroidP/metroidP.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.metroidZM {
	background: url(../imgs/metroidZM/metroidZM.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.metroidP2 {
	background: url(../imgs/metroidP2/metroidP2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.metroidPP {
	background: url(../imgs/metroidPP/metroidPP.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.metroidPH {
	background: url(../imgs/metroidPH/metroidPH.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.metroidP3 {
	background: url(../imgs/metroidP3/metroidP3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.metroidOM {
	background: url(../imgs/metroidOM/metroidOM.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.metroidPFF {
	background: url(../imgs/metroidPFF/metroidPFF.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.metroidRoS {
	background: url(../imgs/metroidRoS/metroidRoS.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@media only screen and (max-width: 1024px) {
	h1 {
		text-align: center;
		margin: 0;
	}
	p {
		font-size: 22pt;
	}
	.metroidF {
	background: url(../imgs/metroidF/metroidF-1024.jpg) no-repeat center center fixed;
	}
	.metroidP {
	background: url(../imgs/metroidP/metroidP-1024.jpg) no-repeat center center fixed;
	}
	.metroidP2 {
	background: url(../imgs/metroidP2/metroidP2-1024.jpg) no-repeat center center fixed;
	}
	.metroidP3 {
	background: url(../imgs/metroidP3/metroidP3-1024.jpg) no-repeat center center fixed;
	}
	.metroidOM {
	background: url(../imgs/metroidOM/metroidOM-1024.jpg) no-repeat center center fixed;
	}
	.metroidPFF {
	background: url(../imgs/metroidPFF/metroidPFF-1024.jpg) no-repeat center center fixed;
	}
	.metroidRoS {
	background: url(../imgs/metroidRoS/metroidRoS-1024.jpg) no-repeat center center fixed;
	}
}
@media only screen and (max-width: 768px) {
	h1 {
		text-align: center;
		margin: 0;
	}
	p {
		font-size: 18pt;
		margin: 50px;
	}
	.metroidF {
	background: url(../imgs/metroidF/metroidF-1024.jpg) no-repeat center center fixed;
	}
	.metroidP {
	background: url(../imgs/metroidP/metroidP-1024.jpg) no-repeat center center fixed;
	}
	.metroidP2 {
	background: url(../imgs/metroidP2/metroidP2-1024.jpg) no-repeat center center fixed;
	}
	.metroidP3 {
	background: url(../imgs/metroidP3/metroidP3-1024.jpg) no-repeat center center fixed;
	}
	.metroidOM {
	background: url(../imgs/metroidOM/metroidOM-1024.jpg) no-repeat center center fixed;
	}
	.metroidPFF {
	background: url(../imgs/metroidPFF/metroidPFF-1024.jpg) no-repeat center center fixed;
	}
	.metroidRoS {
	background: url(../imgs/metroidRoS/metroidRoS-1024.jpg) no-repeat center center fixed;
	}
}
@media only screen and (max-width: 520px) {
	h1 {
		text-align: center;
		margin: 0;
		font-size: 40pt;
	}
	p {
		font-size: 14pt;
		margin: 15px;
	}
}