/* homepage */
a {
	font-size: 90px;
}

.homepage {
	background-color: white;
	margin: 25px 50px 50px;
}

/* page 1 */
.page1-body {
	background-color: #164187;
	color: white;
	font-size: 35pt;
	font-family: 'Amiri', serif;
}
.page1-h1 {
	font-size: 6em;
	font-weight: normal;
	margin-top: 10px;
	text-align: center;
}
.page1-h2 {
	font-size: 2em;
	font-weight: normal;
	margin-top: -250px;
	text-align: center;
}
.page1-div1 {
	background-color: #6db2e8;
	margin: 50px auto 0px;
}
.page1-p1, .page1-p2, .page1-p3, .page1-p4 {
	letter-spacing: 1pt;
	font-size: 27pt;
	line-height: 1.3em;
}
.page1-div2 {
	margin: auto 200px 0px;
}
.page1-h3 {
	font-size: 1.4em;
	font-weight: normal;
	font-style: italic;
	text-align: center;
}
.page1-div3 {
	background-color: #6db2e8;
	margin: -40px auto 0px;
}
.page1-div4 {
	margin: -40px 200px 0px;
}

/* page 2 */
.page2-body {
	background-color: #c9e7ff;
	color: white;
	font-size: 35pt;
	font-family: 'Amiri', serif;
}
.page2-h1 {
	color: #c9e7ff;
	font-size: 5em;
	font-weight: normal;
	margin: 50px 0 0 10px;
}
.page2-h2 {
	color: #c9e7ff;
	font-size: 1.6em;
	font-weight: normal;
	margin: -150px 0 0 10px;
}
.page2-div1 {
	background-color: #277fc4;
	margin-left: 100px;
}
.page2-p1, .page2-p2, .page2-p3, .page2-p4 {
	font-size: 24pt;
	color: black;
	margin: 50px 100px 0 250px;
	text-align: left;
}
.page2-div2 {
	margin-right: 200px;
	background-color: #2982a5;
}
.page2-h3 {
	font-size: 1.4em;
	font-weight: normal;
	text-align: center;
	color: #c9e7ff;
}
.page2-div3 {
	background-color: #6860a5;
	margin: -40px 500px;
}