#list-name {
	width: 1440px;
	height: 400px;
}
.title {
	color: black;
}
.full {
	width: 710px;
	height: 332px;
}
.green {
	background-color: #2fe09f;
}
.red {
	background-color: #f24864;
	float: right;
}
.purple {
	background-color: #656af7;
}
#lead-1 {
	transition: all 2s ease;
}
#number1 {
	transition: all 2s ease;
}
.number1-2 {
	transition: all 2s ease;
	color: black;
	font-family: Arial, sanserif;
}
.blue {
	background-color: #0f6bff;
	float: right;
}
.black {
	background-color: black;
	font-style: italic;
}
.pink {
	background-color: pink;
}
h1 {
	font-size: 4em;
	margin: 0;
	padding: 10vh 0 0 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2em;
	transition: all 2s ease;
	color: white;
}
#panel, #flip {
	padding: 5px;
	text-align: center;
	background-color: #dce067;
	border: solid 1px #fbff87;
	color: white;
	font-size: 4em;
	cursor: pointer;
}
#panel {
	padding: 50px;
	display: none;
}
.number3-2 {
	color: #ffaf05;
	font-size: 80pt;
	margin: -15px;
}
#number1, #number2, #number3, #number4 {
	cursor: pointer;
}
button {
	cursor: pointer;
	background-color: #f24b59;
	border: none;
	border-radius: 8px;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 50px 120px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	border: 2px solid #f24b59;
}
button:hover {
	background-color: #656af7;
	color: white;
}