body {
	margin: 0;
	padding: 0;
}
div {
	width: 100px;
	height: 100px;
	background-color: black;
	float: left;
}
/* pattern 1 */
.pattern1 .first {
      width: 0;
      height: 0;
      border-top: 50px solid white;
      border-left: 100px solid purple;
      border-bottom: 50px solid white;
      margin: -20px;
      border-radius: 25px;
      opacity: .2;
}
.pattern1 .second {
      width: 190px;
      height: 100px;
      background: green;
      border-radius: 150px / 50px;
      margin: -50px;
      opacity: .8;
}
.pattern1 .third {
      width: 13;
      height: 0;
      border-top: 50px solid pink;
      border-right: 100px solid purple;
      border-bottom: 50px solid white;
      margin: 20px;
}
/* pattern 2 */
.pattern2 .first {
	background: linear-gradient(270deg, white 25%, #42f4d1 25%, #42f4d1 50%, red 50%, red 75%, #42f4d1 75%);
}
.pattern2 .second {
	background-color: orange;
	opacity: .9;
	border-radius: 74%
}
.pattern2 .third {
	background: linear-gradient(45deg, blue 25%, #42f4d1 25%, #42f4d1 50%, white 50%, white 75%, #42f4d1 75%);
}